<h1>Edit Figure</h1> 

<h2>Edits for <%= @figure.name %></h2>

<form method="POST" action="/figures/<%= @figure.id %>">
<input type="hidden" id="hidden" name="_method" value="patch">
<label>Edit Figure Name:</label>
    <br>
<input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">

<br>

<p>Select the existing landmark or create a new one below.</p>
 
 
<h3>Landmark: </h3>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input><br>
    <% end %>
    <br>

<h3>Create New Landmark</h3>
    <label>Landmark Name: </label><input type="text" name="landmark[name]" id="new_landmark">
    <br>
    <label>Year Created: </labek><input type="text" name "landmark[year_completed]">
<br><br>

<h3>Titles: </h3>
<% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %></input><br>
  <% end %>
  <br>

<h3>New Titles: </h3>
<label>Title Name:</label>
  <br>
  <input type="text" name="title[name]" id="new_title">
  <br><br>

  <input type="submit" value="Submit" id="Edit Figure">

</form>
