<form method="POST" action="/figures"

<label>Figure Name:</label>

<br>


<input type="text" name="figure[name]" id="figure_name">


<h3>Landmarks: </h3>
  <% @landmarks.each do |landmark| %>
    <p><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value=<%= landmark.id %>><%= landmark.name %></p>
  <% end %>
  <br>
  
  <h3>Create New Landmark</h3>
  <label>Landmark Name: </label><input type="text" name="landmark[name]" id="new_landmark">
  <br>
  <label>Year Created: </labek><input type="text" name "landmark[year_completed]">
  <br><br>

<h3>Titles: </h3>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %><br>
  <% end %>
  <br>
  
  <h3>New Title</h3>
  <label>Title Name:</label>
  <br>
  <input type="text" name="title[name]" id="new_title">
  <br><br>

  <input type="submit" value="Submit" id="Create New Figure">
</form>